
#title{
  color:#1F2D3D;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  
  margin-top: 8.6%;
  margin-bottom: 15%;
  size: 36pt;
}
#input{
  position:relative;
  
  
  margin-left: 4.4%;
  margin-bottom:90% ;

  color: #8492A6;
}
#input2{
  position:relative;
  
  margin-top:30%;
  margin-left: 4.4%;
  margin-bottom:90% ;

  color: #8492A6;
}

.button{
  background-color: #47525E;
  color: #FFFFFF;
  text-align: center;
  margin-top: 30%;
  margin-left: 40%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
}
.button2{
  background-color: #47525E;
  color: #FFFFFF;
  text-align: center;
  margin-top: 30%;
  margin-left: 18%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
}

#list_item{

  margin: 5%;
}

